@import './variables.scss';

body {
  font-size: 1.2em;
  background: $base-color2;
}

.drone-container {
  position: absolute;
  background: url('../../images/source.gif') 0 0 no-repeat;
  width: 200px;
  height: 140px;
  background-size: contain;
}

.control-panel {
  float: right;
  border: 1px solid $base-color1;
  background: $base-color1;
  border-radius: 1em;
  padding: 1em;
  font-family: Arial;
}
